<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body>
	<div class="body" data-controller="charts">

		{{ template "header" }}
		<div class="content">
			<div class="container">
			        <div data-target="charts.chartWrapper" class="chart-wrapper pl-2 pr-2 mb-5">
            <div id="chart"
                data-target="charts.chartsView"
                style="width:100%; height:73vh; margin:0 auto;">
            </div>
            <div class="d-flex justify-content-center legend-wrapper">
                <div class="legend d-flex" data-target="charts.labels"></div>
            </div>
        </div>
		</div>
	</div>
</body>
</html>