<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body data-controller="receive">
    <div class="body">
        {{ template "header" }}
        <div class="content">
            <div class="container">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Exchange</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Open</th>
                        <th>Close</th>
                        <th>Volume</th>
                        <th>Interval</th>
                        <th>CurrencyPair</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody data-target="history.historyTable">
                        {{range $index, $exchange := .exData}}
                        <tr>
                            <td>{{$exchange.ExchangeName}}</th>
                            <td>{{$exchange.High}}</th>
                            <td>{{$exchange.Low}}</th>
                            <td>{{$exchange.Open}}</th>
                            <td>{{$exchange.Close}}</th>
                            <td>{{$exchange.Volume}}</th>
                            <td>{{$exchange.Interval}}</th>
                            <td>{{$exchange.CurrencyPair}}</th>
                            <td>{{$exchange.Time}}</th>
                        </tr>
                        {{end}}
                    </tbody>
                </table>

                <a href="?page={{ .previousPage }}" class="mr-2 {{ if lt .previousPage 1 }}d-none{{ end }}">
                    &lt; Previous
                </a>

                <span data-target="history.pageReport" class="text-muted">Page {{ .currentPage }} of {{ .totalPages }}</span>

                <a href="?page={{ .nextPage }}"
                   data-next-page="{{ .nextPage }}" class="ml-2 {{ if not .nextPage }}d-none{{ end }}">
                    Next &gt;
                </a>
            </div>
        </div>
    </div>
    {{ template "footer" }}
</body>
</html>