<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}

<body>
    <div class="body">
        {{ template "header" }}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-5 col-md-2">
                        <ul>
                            <li>Mempool: {{ humanizeInt .mempoolCount}}</li>
                            <li>Blocks: {{ humanizeInt .blocksCount}}</li>
                            <li>Votes: {{ humanizeInt .votesCount}}</li>
                            <li>PoW: {{ humanizeInt .powCount}}</li>
                            <li>VSP Ticks: {{ humanizeInt .vspCount}}</li>
                            <li>Exchange Ticks: {{ humanizeInt .exchangeTick}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ template "footer" }}
</body>

</html>