{{ define "html-head" }}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Dcrextdata">
    <meta name="author" content="The Decred developers">
    <title>dcrextdata</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/vendors~app.bundle.js"></script>
    <script src="/static/js/app.bundle.js?v={{ .timestamp }}"></script>

    <script src="/static/js/turbolinks.min.js"></script>
</head>
{{ end }}

{{ define "header" }}
<header data-controller="layout">
    <div id="menu">
        <div class="menu-bar">
            <a href="/">
                <img src="/static/images/logo.png" class="logo" />
            </a>
        </div>
    </div>
    <nav id="header-nav">
        <ul>
            <li id="nav-mempool">
                <a href="/mempool">Mempool</a>
            </li>
            <li id="nav-propagation">
                <a href="/propagation">Propagation</a id="nav-mempool">
            </li>
            <li id="nav-pow">
                <a href="/pow">PoW</a id="nav-mempool">
            </li>
            <li id="nav-vsp">
                <a href="/vsp">VSPs</a id="nav-mempool">
            </li>
            <li id="nav-exchanges">
                <a href="/exchanges">Exchanges</a id="nav-mempool">
            </li>
            <li id="nav-community">
                <a href="/community">Community</a id="nav-mempool">
            </li>
        </ul>
    </nav>
</header>
{{ end }}

{{ define "footer" }}
<script>
    $(function () {
        var pathname = window.location.pathname;
        var paths = pathname.split("/")
        var currentNavItem = "#nav-home";
        if (pathname != "/" && paths.length > 1) {
            currentNavItem = "#nav-" + paths[1];
        }
        $(currentNavItem).addClass("active");
    });
    $(function () {
        $(".menu-bar").click(function() {
            $(".menu-dropdown").toggleClass("d-hide");
        });
    });
</script>
{{ end }}
