<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}

<body>
<div class="body">
    {{ template "header" }}
    <div class="content" data-controller="nodes"
         data-nodes-page-size="{{ .pageSize }}"
         data-nodes-view-option="{{ .selectedViewOption }}"
         data-nodes-data-type="{{ .dataType }}"
         data-nodes-timestamp="{{ .timestamp }}"
         data-nodes-previous-timestamp="{{ .previousTimestamp }}"
         data-nodes-next-timestamp="{{ .nextTimestamp }}"
         data-nodes-height="{{ .height }}"
    >
        <div class="container-fluid">

            {{$height := .snapshot.Height}}

            <div class="control-wrapper">
                <div class="d-flex flex-row bottom-ctl">
                    <div class="chart-control ml-auto mr-3 my-2" data-target="nodes.viewOptionControl"
                         data-initial-value="{{ .selectedViewOption }}">
                        
                        <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a data-target="nodes.dataType"
                                           data-action="click->nodes#setDataType" class="nav-link active"
                                           href="javascript:void(0);" data-option="nodes"
                                           >Nodes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-target="nodes.dataType"
                                           data-action="click->nodes#setDataType" class="nav-link"
                                           href="javascript:void(0);" data-option="version"
                                           >Version</a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-target="nodes.dataType"
                                           data-action="click->nodes#setDataType" class="nav-link"
                                           href="javascript:void(0);" data-option="location"
                                           >Location</a>
                                    </li>
                                </ul>

                    </div>

                    <div class="mr-auto my-2">
                        <div class="chart-control-wrapper control-div p-0"
                             data-target="nodes.dataTypeSelector">
                            <div class="chart-control mempool-control mx-auto">

                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="javascript:void(0);" data-target="nodes.viewOption"
                                        data-action="click->nodes#setChart" data-option="chart">Chart</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0);"
                                        data-target="nodes.viewOption" data-action="click->nodes#setTable"
                                        data-option="table">Table</a>
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>

                </div>

                <div>
                    <div data-target="nodes.snapshotHeader" class="d-flex mb-2 mt-2 col-6 offset-3">
                        <div class="col-5">
                            <h6>Timestamp: <small data-target="nodes.timestamp"></small></h6>
                        </div>
                        <div class="col-4">
                            <h6>Height: <small>{{ .height }}</small></h6>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-sm btn-primary" data-target="nodes.previousTimestampBtn"
                                 data-action="click->nodes#gotoPreviousTimestamp">Previous</button>
                            <button class="btn btn-sm btn-primary" data-target="nodes.nextTimestampBtn"
                                 data-action="click->nodes#gotoNextTimestamp">Next</button>
                        </div>
                    </div>

                    <div class="inner-content d-hide col-8 offset-2" data-target="nodes.tableWrapper">

                        <div class="table-details">
                            <h3 data-target="nodes.tableTitle">Network Snapshots</h3>
                            <div class="pagination">
                                <div data-target="nodes.numPageWrapper"
                                    class="control-div p-0">
                                    <div class="control-label">Page Size:</div>
                                    <select data-action="change->nodes#changePageSize" class="form-control"
                                            style="width: 70px;">
                                        {{$pageSize := .pageSize}}
                                        {{ range $index, $filter := .pageSizeSelector}}
                                            <option value="{{$index}}" {{ if eq $index $pageSize}} selected {{ end }}>{{$filter}}</option>
                                        {{ end }}
                                    </select>
                                </div>
                                <div data-target="nodes.btnWrapper" class="page-size d-flex mt-1">
                                    <a href="javascript:void(0)" data-target="nodes.previousPageButton"
                                    data-action="click->nodes#loadPreviousPage"
                                    class="mr-2 {{ if lt .previousPage 1 }}d-hide{{ end }}">&lt;Previous </a>

                                    <p class="text-muted" style="white-space: nowrap;"> Page <span
                                                data-target="nodes.currentPage" class="text-muted"
                                                data-current-page="{{ .currentPage }}"> {{ .currentPage }}</span>
                                        of <span data-target="nodes.totalPageCount"
                                                class="text-muted">{{ .totalPages }}</span>
                                    </p>
                                    <a href="javascript:void(0)" data-target="nodes.nextPageButton"
                                    data-action="click->nodes#loadNextPage"
                                    class="ml-2 {{ if not .nextPage }}d-hide{{ end }}"> Next&gt;</a>
                                </div>
                            </div>
                        </div>
                        <table class="table mx-auto">
                            <thead>
                            <tr class="d-hide" data-target="nodes.tableHeader" data-for="snapshot">
                                <th>Date (UTC)</th>
                                <th>Height</th>
                                <th># of Nodes</th>
                            </tr>
                            <tr class="d-hide" data-target="nodes.tableHeader" data-for="user-agents">
                                <th>Rank</th>
                                <th>User Agent</th>
                                <th># of Nodes</th>
                            </tr>
                            <tr class="d-hide" data-target="nodes.tableHeader" data-for="countries">
                                <th>Rank</th>
                                <th>Country</th>
                                <th># of Nodes</th>
                            </tr>
                            </thead>
                            <tbody data-target="nodes.tableBody">
                            </tbody>
                        </table>

                        <template data-target="nodes.snapshotRowTemplate">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </template>

                        <template data-target="nodes.userAgentRowTemplate">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </template>

                        <template data-target="nodes.countriesRowTemplate">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </template>
                    </div>

                    <div data-target="nodes.chartWrapper" class="inner-content chart-wrapper pl-2 pr-2 mb-5">
                        <div id="chart" data-target="nodes.chartsView"
                             style="width:100%; height:73vh; margin:0 auto;"></div>
                        <div class="d-flex justify-content-center legend-wrapper">
                            <div class="legend d-flex" data-target="nodes.labels"></div>
                        </div>
                    </div>
                    <div data-target="nodes.messageView" class="d-hide mx-auto">
                    </div>
                    <div class="loading" data-target="nodes.loadingData">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{{ template "footer" }}
</body>

</html>
