<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body data-controller="receive">
<div class="body">
    {{ template "header" }}
    <div class="content">
        <div class="container"> 
            <div class="row">
                <div class="col-md-12" data-controller="propagation">
                    <h4>Propagation</h4>

                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-3 col-sm-12 mb-2">
                            <select data-target="propagation.selectedRecordSet" data-action="change->propagation#selectedRecordSetChanged"
                                    class="form-control" style="width: 150px;">
                                <option value="both">Both</option>
                                <option value="blocks">Blocks</option>
                                <option value="votes">Votes</option>
                            </select>
                        </div>

                        <div data-target="propagation.numPageWrapper" class="col-mb-3 control-div">
                            <div class="control-label">Page Size:</div>

                            <select data-target="propagation.selectedNum" data-action="change->propagation#numberOfRowsChanged" class="form-control" style="width: 70px;">
                                {{$selectedNum := .selectedNum}}                         
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                            </select>
                        </div>

                        <div class="col-md-4 float-md-right">
                            <div class="d-flex float-md-right">
                                <button data-target="propagation.previousPageButton" data-action="click->propagation#gotoPreviousPage" data-previous-page="{{ .propagation.previousPage}}"
                                        class="btn btn-link {{ if lt .propagation.previousPage 1 }}d-none{{ end }}">
                                    &lt; Previous
                                </button>

                                <span data-target="propagation.pageReport" class="text-muted"
                                      data-current-page="{{ .propagation.currentPage }}" style="padding-top: 6.5px;">
                                    Page <span data-target="propagation.currentPage"
                                               data-current-page="{{ .propagation.currentPage }}">{{ .propagation.currentPage }}</span> of
                                    <span data-target="propagation.totalPageCount">{{ .propagation.totalPages }}</span>
                                </span>

                                <button data-target="propagation.nextPageButton" data-action="click->propagation#gotoNextPage"
                                        data-next-page="{{ .propagation.nextPage }}" class="btn btn-link {{ if not .propagation.nextPage }}d-none{{ end }}">
                                    Next &gt;
                                </button>
                            </div>
                        </div>
                    </div>

                    {{/*combine view*/}}
                    <table class="table collapsible" data-target="propagation.table">
                        {{range $index, $block := .propagation.records}}
                            <tbody data-target="propagation.blocksTbody" data-block-hash="{{$block.BlockHash}}">
                            <tr>
                                <td colspan="100">
                                    <span class="d-inline-block"><b>Height</b>: {{$block.BlockHeight}}</span>  &#8195;
                                    <span class="d-inline-block"><b>Timestamp</b>: {{$block.BlockInternalTime}}</span>  &#8195;
                                    <span class="d-inline-block"><b>Received</b>: {{$block.BlockReceiveTime}}</span>  &#8195;
                                    <span class="d-inline-block"><b>Hash</b>: <a target="_blank" href="https://explorer.dcrdata.org/block/{{$block.BlockHeight}}">{{$block.BlockHash}}</a></span>
                                </td>
                            </tr>
                            </tbody>
                            <tbody data-target="propagation.votesTbody" data-block-hash="{{$block.BlockHash}}">
                            <tr>
                                <td>Voting On</td>
                                <td>Validator ID</td>
                                <td>Validity</td>
                                <td>Received</td>
                                <td>Block Receive Time Diff</td>
                                <td>Hash</td>
                            </tr>
                            {{range $index, $vote := $block.Votes}}
                                <tr>
                                    <td>{{$vote.VotingOn}}</td>
                                    <td>{{$vote.ValidatorId}}</td>
                                    <td>{{$vote.Validity}}</td>
                                    <td>{{$vote.ReceiveTime}}</td>
                                    <td>{{$vote.BlockReceiveTimeDiff}}s</td>
                                    <td><a target="_blank" href="https://explorer.dcrdata.org/tx/{{$vote.Hash}}">{{$vote.Hash}}</a></td>
                                </tr>
                            {{end}}
                            </tbody>
                            <tr>
                                <td colspan="7" height="50" style="border: none !important;"></td>
                            </tr>
                        {{end}}
                    </table>

                    {{/*blocks only*/}}
                    <table class="table d-none" data-target="propagation.blocksTable">
                        <thead>
                        <tr>
                            <th>Height</th>
                            <th>Timestamp</th>
                            <th>Received</th>
                            <th>Delay</th>
                            <th>Hash</th>
                        </tr>
                        </thead>
                        <tbody data-target="propagation.blocksTableBody">
                        </tbody>
                    </table>

                    <template data-target="propagation.blocksRowTemplate">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </template>

                    {{/*votes only*/}}
                    <table data-target="propagation.votesTable" class="table d-none">
                        <thead>
                        <tr>
                            <th>Voting On</th>
                            <th>Validator ID</th>
                            <th>Validity</th>
                            <th>Received</th>
                            <th>Block Time Diff</th>
                            <th>Block Receive Time Diff</th>
                            <th>Hash</th>
                        </tr>
                        </thead>
                        <tbody data-target="propagation.votesTableBody">
                        </tbody>
                    </table>

                    <template data-target="propagation.votesRowTemplate">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer" }}
</body>
</html>