<!DOCTYPE html>
<html lang="en">
{{ template "html-head" }}
<body>
    <div class="body" data-controller="vsp">
        {{ template "header" }}
        <div class="content">
            <div class="container">

                <div class="row ">
                    <div class="col-md-3 col-sm-12 mb-2">
                        <div class="control-label">SOURCE</div>
                        <select data-target="vsp.selectedFilter" data-action="change->vsp#selectedFilterChanged"
                            class="form-control" style="width: 150px;">
                            {{$selectedFilter := .selectedFilter}}
                            <option value="All">All</option>

                            {{ range $index, $filter := .allVspData}}
                            <option value="{{$filter.Name}}" {{ if eq $filter.Name $selectedFilter}} selected {{ end }}>{{$filter.Name}}</option>
                            {{ end }}
                        </select>
                    </div>

                    <div class="chart-control-wrapper col-md-5 mb-2" data-target="vsp.chartSelector">
                        <div class="control-label">VIEW</div>
                        <div class="chart-control">
                            <ul
                            class="nav nav-pills"
                            >
                            <li class="nav-item">
                                <a
                                class="nav-link active"
                                href="javascript:void(0);"
                                data-target="vsp.viewOption"
                                data-action="click->vsp#setTable"
                                data-option="table"
                                >Table</a>
                            </li>
                            <li class="nav-item">
                                <a
                                class="nav-link"
                                href="javascript:void(0);"
                                data-target="vsp.viewOption"
                                data-action="click->vsp#setChart"
                                data-option="chart"
                                >Chart</a>
                            </li>
                        </ul>
                    </div>
                </div>

               <div data-target="vsp.numPageWrapper" class="col d-flex  align-items-center justify-content-between float-md-right">
                    <div class=" mb-2 float-md-right">
                        <div class="control-label">ROWS</div>
                        <select data-target="vsp.selectedNum" data-action="change->vsp#NumberOfRowsChanged" class="form-control mr-5" style="width: 70px;">
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                        </select>
                    </div>

                        <div class="row float-md-right">
                            <a href="javascript:void(0)" data-target="vsp.previousPageButton" data-action="click->vsp#loadPreviousPage" data-next-page="{{ .previousPage }}" class="mr-2 {{ if lt .previousPage 1 }}d-none{{ end }}">&lt;Previous </a>

                            <p class="text-muted"> Page <span data-target="vsp.currentPage" class="text-muted"> {{ .currentPage }}</span> of <span data-target="vsp.totalPageCount" class="text-muted">{{ .totalPages }}</span>
                            </p>    
                            <a href="javascript:void(0)" data-target="vsp.nextPageButton" data-action="click->vsp#loadNextPage" data-total-page="{{ .totalPages }}" data-next-page="{{ .nextPage }}" class="ml-2 {{ if not .nextPage }}d-none{{ end }}"> Next&gt;</a>
                        </div>
                </div>
            </div>
            <div class="" data-target="vsp.vspTableWrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th>VSP</th>
                            <th>Immature</th>
                            <th>Live</th>
                            <th>Voted</th>
                            <th>Missed</th>
                            <th>PoolFees</th>
                            <th>ProportionLive</th>
                            <th>ProportionMissed</th>
                            <th>UserCount</th>
                            <th>UsersActive</th>
                            <th>Time(UTC)</th>
                        </tr>
                    </thead>
                    <tbody data-target="vsp.vspTicksTable">
                        {{range $index, $vspticks := .vspData}}
                        <tr>
                            <td>{{$vspticks.VSP}}</td>
                            <td>{{$vspticks.Immature}}</td>
                            <td>{{$vspticks.Live}}</td>
                            <td>{{$vspticks.Voted}}</td>
                            <td>{{$vspticks.Missed}}</td>
                            <td>{{$vspticks.PoolFees}}</td>
                            <td>{{$vspticks.ProportionLive}}</td>
                            <td>{{$vspticks.ProportionMissed}}</td>
                            <td>{{$vspticks.UserCount}}</td>
                            <td>{{$vspticks.UsersActive}}</td>
                            <td>{{$vspticks.Time}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>

                <template data-target="vsp.vspRowTemplate">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </template>
            </div>
            <div data-target="vsp.chartWrapper" class="chart-wrapper pl-2 pr-2 mb-5 d-hide">
                <div id="chart"
                data-target="vsp.chartsView"
                style="width:100%; height:73vh; margin:0 auto;">
            </div>
            <div class="d-flex justify-content-center legend-wrapper">
                <div class="legend d-flex" data-target="vsp.labels"></div>
            </div>
        </div>
    </div>
    </div>
</div>
{{ template "footer" }}
</body>
</html>